header{
    background-image: url(../Assets/Hero-bg.png);
}
.raleway-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* nav style */
nav{
    display: flex;
    margin: 0 140px ;
    align-items: center;
    justify-content: space-between;
}
.nav-title {
    font-size: 40px;
    font-weight: bold;
    color: #000000;
}
.flowcraft{
    color: #4E47FF;
}
.btn-primary{
    font-size: 16px;
    font-weight: bold;
    padding: 12px 36px;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease-out 0.3s;
}
.btn-primary:hover{
    background-color: rgba(255, 0, 0, 0.685);
}
.stay-focused{
    margin-bottom: 90px;
}

/* banner */

.slogan{
    font-size: 50px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    max-width: 50%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
}
.text-center{
    text-align: center;
}

main{
   margin: 0 auto;
   background-color: rgb(245, 248, 255);
}

/* action */

.action{
    display: flex;
    margin: 100px 140px;
    margin-top: 0px;
    padding-top: 100px;
    margin-bottom: 100px;
    justify-content: space-between;
    align-items: center;
    gap: 25%;
}
.action-title-title{
    display: flex;
    align-items: center;
    justify-content: top left;
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action-subtitle{
    font-size: 20px;
    color: rgba(37, 36, 50, 0.5);
}
img{
    border-radius: 20px;
}

/* joined */

.heading{
    display: flex;
    gap: 100px;
    justify-content: center;
    margin: 0;
    margin-bottom: 30px;
}
.joined-title{
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    line-height: 0px;
}
.heading-title{
    font-size: 60px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
    line-height: 0px;
    padding-bottom: 0;
}
.heading-subtitle{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    margin:0;
}
.joined{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    margin: 0 140px;
}

/* lets get in */

.lets-get-in-content{
    display: flex;
    margin: 0px 140px;
    justify-content: space-around;
    margin-top: 71px;
    padding: 30px;
    margin-bottom: 100px;
}
.lets-get-in-title{
    font-size: 80px;
    font-weight: bold;
    max-width: 50%;
    align-items: center;

}
.form-title{
    font-weight: 400;
    line-height: 0px;
    
}
input{
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
.text{
     border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}
.submit{
    display: block;
}

.user-review{
    display: flex;
    margin: 0px 140px;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 150px;
}
.what-user-say{
    margin-top: 100px;
}
.user{
    background-color: white;
    padding: 20px;
    max-width: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 20px; 
}
.user-description{
    margin-bottom: 40px;
}
.comment{
    display: flex;
    gap: 20px;
    align-items: center;
}
.user-name{
    font-size: 13px;
    line-height: 0;
    color: rgba(0, 0, 0, 0.899);
}
.date{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.767);
}

/* footer */

footer{
    margin: 70px 140px;
    text-align: center;
}
.footer-nav{
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;
}
.footer-description{
    color: rgba(137, 135, 161, 1);
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
.footer-img{
    text-decoration: none;
}

